* {
    font-family: sans-serif;
}

.wrapper {
    width: 70%;
    margin: 0 auto;
}

nav {
    width: 100%;
    padding: 30px 0;
}

#nav_ul {
    list-style-type: none;
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 0;
}

#nav_ul li {
    display: inline;
}

ul a {
    padding: 0 15px;
}

a {
    text-decoration: none;
    color: grey;
}

a:hover {
    color: rebeccapurple;
}

#main_content {
    display: inline-block;
}

figure {
    margin: 0;
}

#building {
    width: auto;
    margin: 15px 0 0 0;
    display: block;
}